@import "../Styling/Breakpoints.scss";

.LandingPage {
  height: calc(85vh - 4px);
  width: 100%;
  display: flex;
  flex-direction: column;

  .description {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "SecondaryFont";
  }

  .albumCovers {
    height: 35vh;
    width: 100%;
    background-color: orange;
  }

  .signIn {
    height: 30vh;
    width: 100%;
    background-color: palegreen;
  }
}
