@import "./Breakpoints.scss";

.PlaylistsPage {
  min-height: 85vh;
  width: 80%;
  margin-bottom: 30px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 80%);
  row-gap: 90px;

  @include breakpoint-mixin("laptop-small") {
    align-items: start;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: auto;
  }

  @include breakpoint-mixin("desktop") {
    grid-template-columns: repeat(4, 320px);
  }
}

.logout {
  height: 15vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  // background-color: orange;

  @include breakpoint-mixin("laptop-small") {
    justify-content: center;
  }

  .button {
    font-family: "SecondaryFont";
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    // padding: 15px 20px 15px 20px;
    background-color: #f05023;
    width: fit-content;
    border-radius: 3px;

    &:hover {
      opacity: 0.6;
    }
  }
}
