@import "./Breakpoints.scss";

.PlaylistsPage {
  height: 90vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-mixin("laptop-small") {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 320px);
  }

  @include breakpoint-mixin("desktop") {
    grid-template-columns: repeat(4, 320px);
  }
}
